body {
  width: 336px;
  min-height: 220px;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #f4f4f5;
}

#__root {
  min-height: 220px;
}
